<html>
	<head>
		<style>
			/* Insert your custom CSS styling here */
		</style>
	</head>
	<body>
		<h1>Password Successfully Reset 🙌</h1>
		<p>Hi {{name}},</p>
		<p>Your password has been successfully reset. You can now log in with your
			new password.</p>
		<p>If you didn't initiate this action, please contact our support team
			immediately.</p>
		<br />
		<p>Thanks,</p>
		<p>{{companyName}}</p>
	</body>
</html>