<html>
	<head>
		<style>
			/* Insert your custom CSS styling here */
		</style>
	</head>
	<body>
		<h1>Reset Password Request 🔄</h1>
		<p>Hello {{name}},</p>
		<p>We've received a request to reset your password. If this wasn't you,
			please ignore this email.</p>
		<p>To reset your password, click the link below:</p>
		<p><a href="{{resetPasswordLink}}">Reset Password</a></p>
		<p>Kindly note this link will be valid for the next 15 minutes only.</p>
		<p>If you have any questions or need assistance, feel free to reach out.</p>
		<br />
		<p>Regards,</p>
		<p>{{companyName}}</p>
	</body>
</html>